<%- include("master", {
  title: title,
  body: `
  <div class="container bg-secondary-subtle">
    <h1>Selamat Datang di Website Pariwisata Palembang</h1>
    <p>Ini adalah website resmi Pariwisata Palembang</p>  
  </div>
  `,
}) 
%>