<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title%></title>
</head>
<body>
    <h1><%= title%></h1>
    <form class="myform" action="/submit-contact" method="POST">
        <label for="name">Nama:</label>
        <input type="text" value="Steven Chandra" disabled><br><br>
        
        <label for="email">Email:</label>
        <input type="email" value="sc@gmail.com" disabled><br><br>
        
        <label class="message" for="message">Pesan:</label>
        <input id="message" name="message" required><br><br>
        
        <button type="submit">Send</button>
    </form>
    <p>This is our contact</p>
    <a href="/">Back Home</a>
</body>
</html>